







	  @**<p>Type Description : @myList.getTYPE_DESCRIPTION()</p>
	  <p>Status : @myList.getStatus()</p>
	  <p>Due Date : @myList.getDue_dt()</p>
	  <p>Moderate Task ID : @myList.getModerator_task_id()</p>
	  <p>Warning Date : @myList.getWarning_dt()</p>
	  <p>Author Name : @myList.getFirst_name()</p>   ///AuthorName
	  //first_name
	  <p>Version Recieved Date : @myList.getVersion_recieved_dt()</p>
	  <p>Author Name : @myList.getAu_last_name()</p>
	  <p>Moderate ID : @myList.getModerator_id()</p>
	  <p>Affiliation : @myList.getAffiliation()</p>
	  <p>Section : @myList.getSection()</p>
	  <p>Short Title : @myList.getShort_title()</p>
	  <p>Paper Invited YN : @myList.getPAPER_INVITED_YN()</p>
	  <p>Copy Right Form YN :  @myList.getCOPY_RIGHT_FORM_YN()</p>
	  //p_last_name
	  <p>Person Name : @myList.getP_first_name()</p>
	  <p>Upper Short MS Title : @myList.getuShTitle()</p>
	  <p>Upper Author Name : @myList.getUauthor()</p>
	  <p>Upper Section : @myList.getuSection()</p>
	  <p>Upper MS Name : @myList.getuMsname()</p>
	  <p>Review Only YN : @myList.getReview_only_yn()</p>
	  <p>Publication YN : @myList.getPublication_yn()</p>
	  <p>Transfer Name : @myList.getTransfer_yn()</p>
**@