@(message: String)
@import play.i18n._
@import helper._



@main("Menu"){
  <div align="right">@logout("")</div>
  
  <div>
  <b>@Messages.get("success")</b>
   <a href="@routes.Application.viewRolesDetails()">@Messages.get("view.role")</a>
  </div>
}